<%= gravatar_tag(@comment.email) if this_blog.use_gravatar and @comment.email and !@comment.email.empty? %>
<div class="citation"><cite><strong><%=h @comment[:author] %></strong></cite> <%= _("is about to say")%>:</div>
<%= @comment.html %>
