<% for article in @articles -%>
 <div class="post">
  <%= render partial: "article", locals: { article: article } %>
  <%= link_to_permalink article, _("Read more") + "..." if article.extended? %>
  <p class="meta"><%= article_links article %></p>
  </div>
<% end -%>

<%= pagy_nav(@pages).html_safe() %>
