    </div> <!-- (#template_above_footer) -->

    <!-- Footer -->

    <div id="template_footer_2024">
      <div id="template_footer_links_theme">
        <a class="template_navigation" href="/content/contact">Contact Us</a>
        <span class="template_navigation_divider">&nbsp;|&nbsp;</span>
        <a class="template_navigation" href="/content/about">About Us</a>
        <p />
        <!-- Theme start <% if methods.member?("render") %><%= render :partial => "shared/theme" %><% else %><r:snippet name="theme" /><% end %> Theme end -->
        <br />
        Site design &copy; RISC OS Open Limited 2024 except where indicated
      </div>
      <div id="template_footer_links_powered">
        <span class="template_navigation_divider"><b>Hosted by</b></span>
        <a class="template_navigation" href="http://www.arachsys.com">Arachsys</a>
        <p />
        <!-- Powered start <% if methods.member?("render") %><%= render :partial => "shared/powered" %><% else %><r:snippet name="powered" /><% end %> Powered end --><br />
        This site runs on <a href="http://www.rubyonrails.org/">Rails</a>
      </div>
    </div>
