            <p />
            <div class="template_sidebar_node">
              <h3>Social</h3>

              <p />
              <div class="template_sidebar_static" align="center">
                Follow us on
                <a href="https://www.facebook.com/rool.social" target="_top" alt="Facebook" style="border: none; text-decoration: none;"> <img src="/images/third_party/facebook_sm.png" style="vertical-align: middle; margin-top: -3px; padding: 0 4px;" width="24" height="24" /></a> and
                <a href="https://twitter.com/risc_os" target="_top" alt="Twitter / X" style="border: none; text-decoration: none;"> <img src="/images/third_party/twitter_sm.png" style="vertical-align: middle; margin-top: -3px; padding: 0 4px;" width="18" height="18" /></a>
              </div>
            </div>

            <p />
            <div class="template_sidebar_node">
              <h3>ROOL Store</h3>
              <div class="template_sidebar_static">
              <a class="powered" href="/content/sales">
              <img align="right" src="/images/risc_os_open/sdfs.png" border="0" style="border: 0px; padding: 0 4px; margin-left: 10px" /></a>
              Buy RISC OS Open merchandise <a href="/content/sales">here</a>, including SD cards for Raspberry Pi and more.
              </div>
            </div>

            <p />
            <div class="template_sidebar_node">
              <h3>Donate!&nbsp;<a href="/content/donations">Why?</a></h3>

              <p />
              <div class="template_sidebar_static">
                Help ROOL make things happen &ndash;
                <strong><a href="/bounty">please consider donating!</a></strong>
              </div>
            </div>

            <p />
            <div class="template_sidebar_node">
              <h3>RISC OS IPR</h3>
            </div>

            <p />
            <div class="template_sidebar_static">
              <a class="powered" href="https://www.riscosdev.com//"><span id="template_rod_logo"></span></a>
              RISC OS is an Open Source operating system owned by
              <a href="https://www.riscosdev.com/">RISC OS Developments Ltd</a> and licensed primarily under
              the
              <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache 2.0</a> license.
            </div>
