    <div id="template_above_footer">

      <!-- Global header -->

      <div id="template_header_2024">
        <div id="template_header_content">
          <a href="/"><div id="template_header_cog"></div></a>
          <a href="/"><div id="template_header_rool_text"></div></a>
          <a href="/">
            <div id="template_header_rool_tagline">
              Safeguarding the past, present and future of RISC OS for <strong>everyone</strong>
            </div>
          </a>
        </div>
      </div>

      <!-- Global navigation -->

      <div id="template_navigation">
        <div id="template_navigation_content">
          <div id="template_navigation_hub">
            <a class="img" href="<%= ENV['HUB_PATH_PREFIX'] %>/account/login_conditional"><img src="<%= ENV['HUB_PATH_PREFIX'] %>/account/login_indication" alt="Account" height="22" width="90" /></a>
          </div>
          <div id="template_navigation_main">
            <a href="/news/" class="template_navigation">News</a><span class="template_navigation_divider">&nbsp;|&nbsp;</span><a href="/content/downloads" class="template_navigation">Downloads</a><span class="template_navigation_divider">&nbsp;|&nbsp;</span><a href="/tracker/tickets/filter?status=1" class="template_navigation">Bugs</a><span class="template_navigation_divider">&nbsp;|&nbsp;</span><a href="/bounty/" class="template_navigation">Bounties</a><span class="template_navigation_divider">&nbsp;|&nbsp;</span><a href="/forum/" class="template_navigation">Forums</a><span class="template_navigation_divider">&nbsp;|&nbsp;</span><a href="/wiki" class="template_navigation">Library</a>
          </div>
        </div>
      </div>
